{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='assets/css/bootstrap-combobox.css')}}" rel="stylesheet" type='text/css'/>
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card" id="cancellation">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon glyphicon-triangle-bottom"/></h4>
                    <p class="category">Courses with <span style="color: green; font-weight: bold">smallest</span> drop rate. (Client-side rendering)</p>
                </div>
                <div class="query-controls">
                        <form>
                             <div class="form-group">
                                <label for="queryName">Saved Query</label>
                                <select name="queryName" class="form-control">
                                    <option value="">No saved query</option>
                                </select>
                            </div>
                        </form>
                    </div>
                <div class="content table-responsive table-full-width">
                    <form>
                        <div class="form-group">
                            <label for="sort">Sort by:</label>
                            <select id="sort" class="form-control combobox">
                                <option value="largest">largest</option>
                                <option value='smallest'>smallest</option>
                             </select>
                        </div>
                    </form>
                    <table class="table table-hover table-striped">
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon glyphicon-triangle-top"/></h4>
                    <p class="category">Courses with <span style="color: red; font-weight: bold">largest</span> drop rate. (Fixed)</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>
                            {% for row in canc2.iteritems() %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ (row[1] * 100)|round(1) }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% set canc3 = getDataTable(1) %}
            <div class="card">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon glyphicon-triangle-top"/></h4>
                    {# TODO: Dynamic styles for smalles/largest tags #}
                    <p class="category">Courses with <span id="{{ canc3.sort }}">{{ canc3.sort }}</span> drop rate. (Server-side rendering)</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>

                            {% for row in canc3['data'].iteritems() %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ (row[1] * 100)|round(1) }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Empty Card</h4>
                    <p class="category">Sample sub heading</p>
                </div>
                <div class="content">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                      Launch demo modal
                    </button>
                </div>
            </div>
        </div>

        <div class="col-md-10">
            <div class="card" id="enrollment">
                <div class="header">
                    <h4 class="title">Enrollment Numbers</h4>
                    <p class="category">Number of students by course by year</p>
                </div>
                <div class="query-controls">
                    <form>
                         <div class="form-group">
                            <label for="queryName">Saved Query</label>
                            <select name="queryName" class="form-control">
                                <option value="">No saved query</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="content">
                    <form>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control combobox">
                                <option value=""></option>
                                <option value='AGB1488'>AGB1488</option>
                                <option value='GNR1825'>GNR1825</option>
                                <option value='WRC1627'>WRC1627</option>
                                <option value='HBF1988'>HBF1988</option>
                                <option value='UAM1180'>UAM1180</option>
                             </select>
                        </div>
                        <div class="form-group">
                            <label for="situation">Situation</label>
                            <select id="situation" class="form-control combobox">
                                <option value=""></option>
                                <option value='AP'>Approved</option>
                                <option value='EA'>In Progress</option>
                                <option value='CA'>Dropped</option>
                                <option value='RM'>Failed</option>
                            </select>
                        </div>
                    </form>
                    <div id="chartLine" class="ct-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Empty Card</h4>
                    <p class="category">Sample sub heading</p>
                </div>
                <div class="content">
                    <p>Number of students with </p>
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="card" id="enrollment-2">
                <div class="header">
                    <h4 class="title">Enrollment Numbers</h4>
                    <p class="category">Number of students by course by year</p>
                </div>
                <div class="query-controls">
                    <form>
                        <div class="form-group">
                            <label for="queryName">Saved Query</label>
                            <select name="queryName" class="form-control">
                                <option value="">No saved query</option>
                            </select>
                        </div>
                    </form>
                </div>
                <div class="content">
                    <form>
                        <div class="form-group">
                            <label for="course">Course</label>
                            <select id="course" class="form-control combobox">
                                <option value=""></option>
                                <option value='AGB1488'>AGB1488</option>
                                <option value='GNR1825'>GNR1825</option>
                                <option value='WRC1627'>WRC1627</option>
                                <option value='HBF1988'>HBF1988</option>
                                <option value='UAM1180'>UAM1180</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="situation">Situation</label>
                            <select id="situation" class="form-control combobox">
                                <option value=""></option>
                                <option value='AP'>Approved</option>
                                <option value='EA'>In Progress</option>
                                <option value='CA'>Dropped</option>
                                <option value='RM'>Failed</option>
                            </select>
                        </div>
                    </form>
                    <div id="chartLine2" class="ct-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sample Pie Chart</h4>
                    <p class="category">This uses <a target="_blank" href="https://gionkunz.github.io/chartist-js/">Chartist.js</a></p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth">

                    </div>

                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Slice 1
                            <i class="fa fa-circle text-danger"></i> Slice 2
                            <i class="fa fa-circle text-warning"></i> Slice 3
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Timestamp for graph update info
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sample Area Chart</h4>
                    <p class="category">Also using <a target="_blank" href="https://gionkunz.github.io/chartist-js/">Chartist.js</a></p>
                </div>
                <div class="content">
                    <div id="chartHours" class="ct-chart">

                    </div>
                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Line 1
                            <i class="fa fa-circle text-danger"></i> Line 2
                            <i class="fa fa-circle text-warning"></i> Line 3
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Same thing...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Sample Bar Chart</h4>
                    <p class="category">Chartist is good for simple, good looking, responsive charts. We can use others also...</p>
                </div>
                <div class="content">
                    <div id="chartActivity" class="ct-chart">

                    </div>

                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Category 1
                            <i class="fa fa-circle text-danger"></i> Category 2
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-check"></i> Same thing...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modals%}
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
            <form>
                <div class="form-group">
                    <label for="text">Saved Query Name:</label>
                    <input type="text" class="form-control" id="name">
                </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
{% endblock modals %}

{% block scripts %}
{#    <script src="{{ url_for('static', filename='assets/js/bootstrap-combobox.js')}}" type="text/javascript"></script>#}
{#    <script type="text/javascript">#}
{#      $(document).ready(function(){#}
{#        $('.combobox').combobox();#}
{#      });#}
{#    </script>#}
    <script>
        function updateChart(content) {
            var params = {};
            content.find("select.form-control").each(function(){
                params[$(this).attr("id")] = $(this).val();
            });
            var requestJSON = {"chartId" : content.parent().attr("id"), "requestParams" : params};
            var chart = content.find(".ct-chart, .table-striped");
            var chartId = chart.attr("id");
            var message = chart.siblings("div.message");
            $.ajax({
                type: "POST",
                url: "/getChartData",
                contentType:"application/json",
                data : JSON.stringify(requestJSON),
                success: function(resultJSON) {
                    if($.trim(resultJSON)) {
                        var result = JSON.parse(resultJSON);
                        var data = {
                            labels: result['labels'],
                            series: [result['series']]
                        };
                        var options = {
                            lineSmooth: false
                        };
                        if (result['labels'].length !== 0) {
                            chart.html("");
                            new Chartist.Line("#" + chartId, data, options);
                        }
                        else {
                            chart.html("<p style='text-align:center; vertical-align:middle'>No data found for given parameters.</p>");
                        }
                    }
                    else {
                        chart.html("<p style='text-align:center; vertical-align:middle'>Query submission error.</p>");
                    }
                },
                error: function() {
                    alert('error');
                }
            });
        }
    </script>
    <script>
        $(document).ready(function(){
            // Load saved configs into dropdown
            var dataStore = {};
            $(".query-controls").each(function() {
                var controls = $(this);
                var parent_id = controls.parent().attr("id");
                $.ajax({
                    type: "POST",
                    url: "/savedQueries",
                    contentType: "application/json",
                    data: JSON.stringify({'view_id': controls.parent().attr("id")}),
                    success: function(resultJSON) {
                        dataStore[parent_id] = resultJSON;
                        var savedQueries = JSON.parse(resultJSON);
                        var queryName = controls.find("select[name='queryName']");
                        for (var key in savedQueries) {
                            queryName.append($('<option>', {
                                value: key,
                                text: savedQueries[key].name
                            }));
                        }
                    },
                    error: function(){
                        alert("error");
                    }
                });
            });
           $(".query-controls select[name='queryName']").change(function(){
               var select = $(this);
               var card = select.closest("div.card");
               if (select.val()) {
                   var queryData = JSON.parse(JSON.parse(dataStore[card.attr("id")])[select.val().toString()]['query_data']);
                   for (var key in queryData) {
                       card.find("select#" + key).val(queryData[key]);
                   }
                   updateChart(card.find(".content"))
               }
           });
        });
    </script>
    <script>
        $("select.combobox").change(function() {
            updateChart($(this).closest(".content"));
        });

    </script>
{% endblock scripts %}

