{% extends "base.html" %}

{% block css %}
    <link href="{{ url_for('static', filename='assets/bower_components/chartist-plugin-legend/chartist-plugin-legend.css')}}" rel="stylesheet" type='text/css'/>
    <link href="{{ url_for('static', filename='assets/bower_components/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.css')}}" rel="stylesheet" type='text/css'/>

    <style>
        .form-group{
            padding: 5px 15px 0;
        }
        div.form-group.button {
            padding-top: 29.5px;
            margin-left: auto;
            margin-right: auto;
            display: inline-block;
            white-space: nowrap;
            text-align: center;
        }
        .query-controls{
            margin: 15px 15px 0;
        }
        .table-full-width > form > .param{
            padding: 5px 15px 0;
        }
        .btn-sq-sm {
            width: 40px !important;
            height: 40px !important;
            margin:0 auto;
            display:inline-block;
        }
        .delete-query, .rename-query{
            visibility: hidden;
        }
        .ct-chart{
            position:relative;
        }
        .form-group{
            margin-bottom: 5px; !important;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <div class="card" type="bar-chart-view" id="semester-count">
                <div class="header">
                    <h4 class="title">Student Semester Count</h4>
                    <p class="category">Histogram of student semester count for the selected semester</p>
                </div>
                <div class="query-controls">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="queryName">Saved Query</label>
                                <select name="queryName" class="form-control">
                                </select>
                            </div>
                            <div class="form-group button col-md-3">
                                <button type="button" class="btn btn-warning btn-sq-sm rename-query" data-toggle="modal" data-target="#renameQuery"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-danger btn-sq-sm delete-query"><span>&times;</span></button>
                            </div>
                            <div class="form-group button col-md-4">
                                <button type="button" class="btn btn-success save-query" data-toggle="modal" data-target="#saveQuery">Save Config.</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content">
                    <form>
                        <div class="row param" id="row0">
                            <div class="form-group col-md-2">
                                <label for="semester">Semester</label>
                                <select id="semester" class="form-control combobox">
                                    <option value=""></option>
                                    {% for semester in previous_semesters %}
                                        {% set semString = semester|string() %}
                                        <option value={{ semester }}>{{ semString[:4] + "." +  semString[4] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="major">Major</label>
                                <select id="major" class="form-control combobox">
                                    <option value=""></option>
                                    {% for major in major_list %}
                                        <option value={{ major }}>{{ major }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group button">
                                <button type="button" class="btn btn-danger clear" style="vertical-align: bottom;">Clear</button>
                            </div>
                        </div>
                        <div class="row add">
                            <div class="form-group">
                                <button type="button" class="btn btn-submit add" style="vertical-align: bottom;">Add</button>
                            </div>
                        </div>
                    </form>
                    <div id="semester-count-chart" class="ct-chart bar"></div>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="card" type="pie-chart-view" id="department-breakdown">
                <div class="header">
                    <h4 class="title">Student Breakdown</h4>
                    <p class="category">Breakdown of students by major per department</p>
                </div>
                <div class="content">
                    <form>
                        <div class="row param" id="row0">
                            <div class="form-group col-md-3">
                                <label for="department">Department</label>
                                <select id="department" class="form-control combobox">
                                    <option value=""></option>
                                    {% for department in department_list %}
                                        {% for key, value in  department.items() %}
                                            <option value={{ key }}>{{ value }}</option>
                                        {% endfor %}
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="semester">Semester</label>
                                <select id="semester" class="form-control combobox">
                                    <option value=""></option>
                                    {% for semester in previous_semesters %}
                                        {% set semString = semester|string() %}
                                        <option value={{ semester }}>{{ semString[:4] + "." +  semString[4] }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </form>
                    <div id="department-breakdown-chart" class="ct-chart pie">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" type="table-view" id="cancellation">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon"/></h4>
                    <p class="category">Courses with <span style="font-weight: bold">< ></span> drop rate. (Client-side rendering)</p>
                </div>
                <div class="query-controls">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="queryName">Saved Query</label>
                                <select name="queryName" class="form-control">
                                </select>
                            </div>
                            <div class="form-group button col-md-3">
                                <button type="button" class="btn btn-warning btn-sq-sm rename-query" data-toggle="modal" data-target="#renameQuery"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-danger btn-sq-sm delete-query"><span>&times;</span></button>
                            </div>
                            <div class="form-group button col-md-4">
                                <button type="button" class="btn btn-success save-query" data-toggle="modal" data-target="#saveQuery">Save Config.</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content table-responsive table-full-width">
                    <form>
                        <div class="row param" id="row0">
                            <div class="form-group col-sm-4">
                                <label for="sort">Sort by:</label>
                                <select id="sort" class="form-control combobox">
                                    <option value=""></option>
                                    <option value="largest">largest</option>
                                    <option value='smallest'>smallest</option>
                                </select>
                            </div>
                        </div>
                        <div class="row add">
                        </div>
                    </form>
                    <table class="table table-hover table-striped">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {% set canc3 = getDataTable("cancellation") %}
            <div class="card">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon glyphicon-triangle-top"/></h4>
                    <p class="category">Courses with <span id="{{ canc3.sort }}">{{ canc3.sort }}</span> drop rate. (Server-side rendering)</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>
                        {% if canc3 is not none %}
                            {% for row in canc3['data'].iteritems() %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ (row[1] * 100)|round(1) }}%</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" type="line-chart-view" id="enrollment">
                <div class="header">
                    <h4 class="title">Enrollment Numbers</h4>
                    <p class="category">Number of students by course by semester</p>
                </div>
                <div class="query-controls">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="queryName">Saved Query</label>
                                <select name="queryName" class="form-control">
                                </select>
                            </div>
                            <div class="form-group button col-md-3">
                                <button type="button" class="btn btn-warning btn-sq-sm rename-query" data-toggle="modal" data-target="#renameQuery"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-danger btn-sq-sm delete-query"><span>&times;</span></button>
                            </div>
                            <div class="form-group button col-md-4">
                                <button type="button" class="btn btn-success save-query" data-toggle="modal" data-target="#saveQuery">Save Config.</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content">
                    <form>
                        <div class="row param" id="row0">
                            <div class="form-group col-sm-3">
                                <label for="course">Course</label>
                                <select id="course" class="form-control combobox">
                                    <option value=""></option>
                                    {% for course_code in course_codes %}
                                        <option value={{ course_code }}>{{ course_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-sm-3">
                                <label for="situation">Situation</label>
                                <select id="situation" class="form-control combobox">
                                    <option value=""></option>
                                    {% for situation_code in situation_codes %}
                                        <option value={{ situation_code }}>{{ situation_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group button">
                                <button type="button" class="btn btn-danger clear" style="vertical-align: bottom;">Clear</button>
                            </div>
                        </div>
                        <div class="row add">
                            <div class="form-group">
                                <button type="button" class="btn btn-submit add" style="vertical-align: bottom;">Add</button>
                            </div>
                        </div>
                    </form>
                    <div id="enrollmentChart" class="ct-chart line"></div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" type="line-chart-view" id="avg-grade">
                <div class="header">
                    <h4 class="title">Average Grade</h4>
                    <p class="category">Average grade among students who finished the course by semester</p>
                </div>
                <div class="query-controls">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="queryName">Saved Query</label>
                                <select name="queryName" class="form-control">
                                </select>
                            </div>
                            <div class="form-group button col-md-3">
                                <button type="button" class="btn btn-warning btn-sq-sm rename-query" data-toggle="modal" data-target="#renameQuery"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-danger btn-sq-sm delete-query"><span>&times;</span></button>
                            </div>
                            <div class="form-group button col-md-4">
                                <button type="button" class="btn btn-success save-query" data-toggle="modal" data-target="#saveQuery">Save Config.</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content">
                    <form>
                        <div class="row param" id="row0">
                            <div class="form-group col-md-3">
                                <label for="course">Course</label>
                                <select id="course" class="form-control combobox">
                                    <option value=""></option>
                                    {% for course_code in course_codes %}
                                        <option value={{ course_code }}>{{ course_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label for="professor">Professor</label>
                                <select id="professor" class="form-control combobox" dynamic-field="course" dynamic-endpoint="{{ url_for('getProfessors') }}">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="curriculum">Curriculum</label>
                                <select id="curriculum" class="form-control combobox">
                                    <option value=""></option>
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                </select>
                            </div>
                            <div class="form-group button">
                                <button type="button" class="btn btn-danger clear" style="vertical-align: bottom;">Clear</button>
                            </div>
                        </div>
                        <div class="row add">
                            <div class="form-group">
                                <button type="button" class="btn btn-submit add" style="vertical-align: bottom;">Add</button>
                            </div>
                        </div>
                    </form>
                    <div id="averageChart" class="ct-chart line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="card" type="line-chart-view" id="enrollment-2">
                <div class="header">
                    <h4 class="title">Enrollment Numbers</h4>
                    <p class="category">Number of students by course by year</p>
                </div>
                <div class="query-controls">
                    <form>
                        <div class="row">
                            <div class="form-group col-md-5">
                                <label for="queryName">Saved Query</label>
                                <select name="queryName" class="form-control">
                                </select>
                            </div>
                            <div class="form-group button col-md-3">
                                <button type="button" class="btn btn-warning btn-sq-sm rename-query" data-toggle="modal" data-target="#renameQuery"><span class="glyphicon glyphicon-pencil"></span></button>
                                <button type="button" class="btn btn-danger btn-sq-sm delete-query"><span>&times;</span></button>
                            </div>
                            <div class="form-group button col-md-4">
                                <button type="button" class="btn btn-success save-query" data-toggle="modal" data-target="#saveQuery">Save Config.</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="content">
                    <form>
                        <div class="row param" id="row0">
                            <div class="form-group col-md-2">
                                <label for="course">Course</label>
                                <select id="course" class="form-control combobox">
                                    <option value=""></option>
                                    {% for course_code in course_codes %}
                                        <option value={{ course_code }}>{{ course_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group col-md-2">
                                <label for="situation">Situation</label>
                                <select id="situation" class="form-control combobox">
                                    <option value=""></option>
                                    {% for situation_code in situation_codes %}
                                        <option value={{ situation_code }}>{{ situation_code }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="form-group button">
                                <button type="button" class="btn btn-danger clear" style="vertical-align: bottom;">Clear</button>
                            </div>
                        </div>
                        <div class="row add">
                            <div class="form-group">
                                <button type="button" class="btn btn-submit add" style="vertical-align: bottom;">Add</button>
                            </div>
                        </div>
                    </form>

                    <div id="chartLine2" class="ct-chart line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sample Area Chart</h4>
                    <p class="category">Also using <a target="_blank" href="https://gionkunz.github.io/chartist-js/">Chartist.js</a></p>
                </div>
                <div class="content">
                    <div id="chartHours" class="ct-chart">

                    </div>
                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Line 1
                            <i class="fa fa-circle text-danger"></i> Line 2
                            <i class="fa fa-circle text-warning"></i> Line 3
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Same thing...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modals%}
    <div class="modal fade" id="saveQuery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Save Query</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" name="_visualizationId"/>
                        <input type="hidden" name="_queryData"/>
                        <div class="form-group">
                            <label for="text">Saved Query Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="renameQuery" tabindex="-1" role="dialog" aria-labelledby="renameQuery">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                    <h4 class="modal-title" id="renameQuery">Rename Query</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <input type="hidden" name="_queryId"/>
                        <input type="hidden" name="_visualizationId"/>
                        <div class="form-group">
                            <label for="text">New Query Name:</label>
                            <input type="text" class="form-control" id="name">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock modals %}

{% block scripts %}
    <script src="{{ url_for('static', filename='assets/bower_components/chartist-plugin-legend/chartist-plugin-legend.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/bower_components/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js')}}"></script>
    <script src="{{ url_for('static', filename='assets/js/dashboard-update.js')}}"></script>
{% endblock scripts %}

