{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon glyphicon-triangle-bottom"></h4>
                    <p class="category">Courses with <span style="color: green; font-weight: bold">smallest</span> drop rate.</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>
                            {% for row in canc.iteritems() %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ (row[1] * 100)|round(1) }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon glyphicon-triangle-top"></h4>
                    <p class="category">Courses with <span style="color: red; font-weight: bold">largest</span> drop rate.</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>
                            {% for row in canc2.iteritems() %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ (row[1] * 100)|round(1) }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            {% set canc3 = getDataTable(1) %}
            <div class="card">
                <div class="header">
                    <h4 class="title">Drop Rate <span class="glyphicon glyphicon-triangle-top"/></h4>
                    {# TODO: Dynamic styles for smalles/largest tags #}
                    <p class="category">Courses with <span style="color: red; font-weight: bold">{{ canc3.sort }}</span> drop rate.</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>

                            {% for row in canc3['data'].iteritems() %}
                                <tr>
                                    <td>{{ row[0] }}</td>
                                    <td>{{ (row[1] * 100)|round(1) }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="card">
                <div class="header">
                    <h4 class="title">Empty Card</h4>
                    <p class="category">Sample sub heading</p>
                </div>
                <div class="content">
                    <p>Number of students with </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Empty Card</h4>
                    <p class="category">Sample sub heading</p>
                </div>
                <div class="content">
                    <p>Sample text</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Empty Card</h4>
                    <p class="category">Sample sub heading</p>
                </div>
                <div class="content">
                    <p>Sample text</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sample Pie Chart</h4>
                    <p class="category">This uses <a target="_blank" href="https://gionkunz.github.io/chartist-js/">Chartist.js</a></p>
                </div>
                <div class="content">
                    <div id="chartPreferences" class="ct-chart ct-perfect-fourth"></div>

                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Slice 1
                            <i class="fa fa-circle text-danger"></i> Slice 2
                            <i class="fa fa-circle text-warning"></i> Slice 3
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-clock-o"></i> Timestamp for graph update info
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card">
                <div class="header">
                    <h4 class="title">Sample Area Chart</h4>
                    <p class="category">Also using <a target="_blank" href="https://gionkunz.github.io/chartist-js/">Chartist.js</a></p>
                </div>
                <div class="content">
                    <div id="chartHours" class="ct-chart"></div>
                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Line 1
                            <i class="fa fa-circle text-danger"></i> Line 2
                            <i class="fa fa-circle text-warning"></i> Line 3
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-history"></i> Same thing...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="header">
                    <h4 class="title">Sample Bar Chart</h4>
                    <p class="category">Chartist is good for simple, good looking, responsive charts. We can use others also...</p>
                </div>
                <div class="content">
                    <div id="chartActivity" class="ct-chart"></div>

                    <div class="footer">
                        <div class="legend">
                            <i class="fa fa-circle text-info"></i> Category 1
                            <i class="fa fa-circle text-danger"></i> Category 2
                        </div>
                        <hr>
                        <div class="stats">
                            <i class="fa fa-check"></i> Same thing...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}