{% extends "base.html" %}

{% block css %}
    <style>
        form{
            padding-left: 15px;
        }
        input[type=submit]{
            margin-left: 15px;
        }
        .hidden{
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    <h1>Supplemental Information</h1>

    <form action="" method="POST" class="form" role="form">
        <div class="col-md-8">
                {{ form.csrf_token }}
            <div class="form-group">
                <div class="row col-md-6">
                    {{ form.first_name.label(class_="control-label") }}
                </div>
                {{ form.first_name(class_="form-control") }}
            </div>
            <div class="form-group">
                <div class="row col-md-6">
                    {{ form.last_name.label }}
                </div>
                {{ form.last_name(class_="form-control") }}
            </div>
            <div class="form-group">
                <div class="row col-md-6">
                    {{ form.role.label }}
                </div>
                {{ form.role(class_="form-control", id_="role") }}
            </div>
            <div class="form-group hidden" id="department">
                <div class="row col-md-6">
                    {{ form.department.label }}
                </div>
                {{ form.department(class_="form-control") }}
            </div>
            <input type="submit" value="Submit" class="btn btn-default btn-primary">
        </div>
    </form>
{% endblock content %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#role').change(function () {
                if($('#role option:selected').text() === '{{ config['ADMIN_ROLE'] }}'){
                    $('#department').addClass('hidden');
                }
                else{
                    $('#department').removeClass('hidden');
                }
            }).trigger('change');
        });
    </script>
{% endblock scripts %}