{% extends "base.html" %}
{% block css %}
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"  media="all" />
    <style>
        div.dataTables_wrapper {
            margin-bottom: 3em;
        }
        div.dataTables_info, div.dataTables_length{
            padding-left: 15px;
        }
        div.dataTables_filter, div.dataTables_paginate.paging_simple_numbers{
            padding-right: 15px;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Student Academic Data</h4>
                        <p class="category">For data monitoring purposes.</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped display" id="studentData">
                            <thead>
                                <tr>
                                    {% for item in df.columns %}
                                        <th>{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    {% for item in df.columns %}
                                        <th>{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Instructor Data</h4>
                        <p class="category">For data monitoring purposes.</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped display" id="instructorData">
                            <thead>
                                <tr>
                                    {% for item in df2.columns %}
                                        <th>{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    {% for item in df2.columns %}
                                        <th>{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#studentData').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": "{{ url_for("getStudentDataTable") }}"
            });
            $('#instructorData').DataTable( {
                "processing": true,
                "serverSide": true,
                "ajax": "{{ url_for("getInstructorDataTable") }}"
            });
        });
    </script>
{% endblock scripts %}

