{% extends "base.html" %}
{% block css %}
    <link href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"  media="all" />
    <style>
        div.dataTables_wrapper {
            margin-bottom: 3em;
        }
        div.dataTables_info, div.dataTables_length{
            padding-left: 15px;
        }
        div.dataTables_filter, div.dataTables_paginate.paging_simple_numbers{
            padding-right: 15px;
        }
    </style>
{% endblock css %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Student Academic Data</h4>
                        <p class="category">For data monitoring purposes.</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped display">
                            <thead>
                                <tr>
                                    {% for item in df.columns %}
                                        <th>{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    {% for item in df.columns %}
                                        <th>{{ item }}</th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                            <tbody>
                                {% for id, row in df.iterrows() %}
                                    <tr>
                                        <td>{{ row['student_id'] }}</td>
                                        <td>{{ row['semester'] }}</td>
                                        <td>{{ row['course'] }}</td>
                                        <td>{{ row['units'] }}</td>
                                        <td>{{ row['section'] }}</td>
                                        <td>{{ row['grade'] }}</td>
                                        <td>{{ row['situation'] }}</td>
                                        <td>{{ row['professor'] }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block scripts %}
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('table.display').DataTable();
        } );
    </script>
{% endblock scripts %}

