{% extends "base.html" %}

{% block css %}
    <style>
        .btn-sq-sm {
            width: 40px !important;
            height: 40px !important;
        }
        .query-controls{
            margin-right: 10px;
            margin-bottom: 15px;
            float: right
        }
        .pe-7s-add-user, .pe-7s-mail{
            font-size: 24px;
        }
        .title-wrapper{
            float: left
        }
        .query-controls .btn{
            margin-left: 10px;
        }
    </style>
{% endblock css %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="card" type="table-view" id="userList">
                <div class="header">
                    <div class="title-wrapper">
                        <h4 class="title">Users</h4>
                    </div>
                    <div class="query-controls">
                    <div class="row">
                        <a href="{{ url_for("user.invite") }}" class="btn btn-primary"><i class="pe-7s-add-user"></i><span> Invite User</span></a>
                        <a href="{{ url_for("manageInvites") }}" class="btn btn-success"><i class="pe-7s-mail"></i><span> Manage Invitations</span></a>
                    </div>
                </div>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Role</th>
                                <th>Departments</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            {% for user in users %}
                                <tr>
                                    <input type="hidden" name="_firstName" value="{{ user.first_name }}">
                                    <input type="hidden" name="_lastName" value="{{ user.last_name }}">
                                    <input type="hidden" name="_email" value="{{ user.email }}">
                                    <input type="hidden" name="_roleId" value="{{ user.role_id }}">
                                    <input type="hidden" name="_userId" value="{{ user.id }}">
                                    <td name="enrollmentId">{{ user.enrollment_number }}</td>
                                    <td name="userName">{{ user.first_name + " " + user.last_name }}</td>
                                    <td>{{ user.role }}</td>
                                    <td>
                                        {% for department in user.departments %}
                                            <p>{{ department.code }}</p>
                                            <input type="hidden" name="_department" value="{{ department.id }}">
                                        {% endfor %}
                                    </td>
                                    <td>
                                        <div><button type="button" class="btn btn-warning btn-sq-sm delete-query" data-toggle="modal" data-target="#editUser"><span class="glyphicon glyphicon-pencil"></span></button></div>
                                    </td>
                                    <td>
                                        {% if user.id != current_user.id %}
                                            <div><button type="button" class="btn btn-danger btn-sq-sm delete-query"><span class="glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteUser"></span></button></div>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block modals%}
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Edit User</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('editUser') }}">
                        <input type="hidden" name="_userId"/>
                        <div class="form-group">
                            <div class="row col-md-6">
                                {{ extraForm.first_name.label(class_="control-label") }}
                            </div>
                            {{ extraForm.first_name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <div class="row col-md-6">
                                {{ extraForm.last_name.label }}
                            </div>
                            {{ extraForm.last_name(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <div class="row col-md-6">
                                {{ extraForm.enrollment_number.label }}
                            </div>
                            {{ extraForm.enrollment_number(class_="form-control") }}
                        </div>
                        <div class="form-group">
                            <div class="row col-md-6">
                                <label for="email">Email</label>
                            </div>
                            <input type="text" name="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <div class="row col-md-6">
                                {{ extraForm.role.label }}
                            </div>
                            {{ extraForm.role(class_="form-control", id_="role") }}
                        </div>
                        <div class="form-group hidden" id="department">
                            <div class="row col-md-6">
                                {{ extraForm.department.label }}
                            </div>
                            {{ extraForm.department(class_="form-control") }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Submit</button>
                </div>
            </div>
        </div>
    </div>
    {#  Delete User Modal  #}
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                    <h4 class="modal-title" id="deleteUserLabel">Delete User</h4>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('deleteUser') }}">
                        <input type="hidden" name="_userId"/>
                    </form>
                    <p>Do you really want to delete <span id="deleteUserName"></span>?</p>
                    <p>This action cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>

{% endblock modals %}

{% block scripts %}
    <script src="{{ url_for('static', filename='assets/js/user-management.js')}}"></script>
    <script>
        $(document).ready(function () {
            var editModal = $('#editUser');
            editModal.on('show.bs.modal', function (e) {
                $('#role').change(function () {
                    if($('#role option:selected').text() === '{{ config['ADMIN_ROLE'] }}'){
                        $('#department').addClass('hidden');
                    }
                    else{
                        $('#department').removeClass('hidden');
                    }
                }).trigger('change');
            });
        });
    </script>
{% endblock scripts %}